unpackage/debug
unpackage/dist
unpackage/resources
unpackage/cache/
/dist
.DS_Store
node_modules/
uni_modules/
.idea
.vscode
.hbuilderx
.vite
package-lock.json
unpackage/release
__MACOSX
nativePlugins/
host.js
router/
/uniCloud-aliyun
package-lock.json
